{% extends 'base/base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}

<div class="mt-4 mb-4 ml-10 mr-10 border-4 border-lime-600 rounded">
    <div class="flex justify-center">
        <h1 class="mt-6 mb-6 font-mono font-semibold text-4xl text-amber-700">
            Welcome to Signup page
        </h1>
    </div>
    <div class="mt-4 mb-4 ml-10 mr-10">
        <p class="pb-10 font-medium">
            We have two types of user account. One is normal user account and the other is admin acoount.
            Only management can create an admin account with their secret key. We suggest others to create a 
            normal account. 
        </p>
    </div>
    <div class="flex justify-center buttons mb-10">
        <a class="bg-lime-700 px-10 py-5 text-white font-semibold text-2xl rounded-lg" href="{% url 'user-signup' %}">
            Normal account signup
        </a>
    </div>
    <div class="mt-4 mb-4 ml-10 mr-10">
        <p class="pb-10 font-medium text-xl text-red-600">
            If you are a member of management team then click below :
        </p>
    </div>
    <div class="flex justify-center buttons mb-10">
        <a class="bg-amber-500 px-10 py-5 text-red-900 font-semibold text-2xl rounded-lg" href="{% url 'admin-signup' %}">
            Signup as an Admin
        </a>
    </div>
</div>

{% endblock %}